flows/cdn.json
[{"id":"836bee7b.62e57","type":"http in","z":"35b73508.3cf17a","name":"","url":"/cdn/style.css","method":"get","swaggerDoc":"","x":150,"y":60,"wires":[["f4fe02ed.151e9"]]},{"id":"f4fe02ed.151e9","type":"template","z":"35b73508.3cf17a","name":"style.css","field":"payload","fieldType":"msg","format":"css","syntax":"plain","template":"html, body {\n  -webkit-box-sizing: border-box;\n  -moz-box-sizing: border-box;\n  box-sizing: border-box;\n}\n\n*, *:before, *:after {\n  -webkit-box-sizing: inherit;\n  -moz-box-sizing: inherit;\n  box-sizing: inherit;\n}\n\nbody, input, button {\n  font-family: verdana, Georgia, Helvetica;\n  font-size: 1em;\n}\na {text-decoration:none;}\np a {font-size:1.2rem;}\n\nbutton {\n    border: solid 1px #ccc;\n    border-radius: 8px;\n    color: #fff;\n    background-image: linear-gradient(#5187c4, #1c2f45);\n    background-size: auto 200%;\n    background-position: 0 100%;\n    transition: background-position 0.5s;\n    font-size:0.95rem;\n    color:#eee;\n    background-image: linear-gradient(#5187c4, #1c2f45);\n    background-size: auto 200%;\n    background-position: 0 100%;\n    transition: background-position 0.5s;\n    padding:0.33rem;\n    margin:0.25rem;\n    min-width:2rem;  \n    line-height:1.5em;\n}\nbutton:hover {color:#fff;background-position: 0 0;}\n\n:focus {outline: 0;}\n\n@media(max-width: 780px) {\n}\n\n@media(max-width: 400px) {\n}\n","x":380,"y":60,"wires":[["7f5903d9.02028c"]]},{"id":"7f5903d9.02028c","type":"function","z":"35b73508.3cf17a","name":"css","func":"//msg.headers['Content-type'] = \"text/css\";\nmsg.headers = {\"Content-type\" : \"text/css\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["e288c4c.e0f2838"]]},{"id":"6c6e4e46.4fc87","type":"template","z":"35b73508.3cf17a","name":"column.css","field":"payload","fieldType":"msg","format":"css","syntax":"plain","template":"\thtml {\n\t\t-webkit-box-sizing: border-box;\n\t\t-moz-box-sizing: border-box;\n\t\tbox-sizing: border-box;\n\t}\n\t*, *, *:before, *:after {\n\t\t-webkit-box-sizing: inherit;\n\t\t-moz-box-sizing: inherit;\n\t\tbox-sizing: inherit;\n\n\t}\n\tbody {font-family:verdana; margin:0; padding:0;\t}\n\tp {margin:0.25rem 0;}\n\ta {color:navy; text-decoration:none;}\n\t.container {margin: 0 4%;}\n\t\n\t.row {\n\t\tdisplay: inline-block;\n\t\twidth: 100%;\n\t\tmargin:0 0 1rem 0;\n\t\tpadding:0;\n\t}\n\t.col-1,.col-2,.col-3,.col-4 {\n\t\tdisplay: inline-block;\n\t\tfloat:left;\n\t\tpadding: 0.5rem;\n\t\tposition: relative;\n\t\tmin-height:2em;\n\t\tbackground-color:#fff;\n\t}\n\t.col-1 {width: 25%;}\n\t.col-2 {width: 50%;}\n\t.col-3 {width: 75%;}\n\t.col-4 {width: 100%;}\n\t\n\timg {padding:0; margin:0.25rem;}\n\t.left {float:left;}\n\t.right {float:right;}\n\t.none {float:none; display:inline;}\n\n\tbutton {\n\t\tdisplay: inline-block;\n\t\tpadding: 0.5rem;\n\t\tfont-size: 1rem;\n\t\twhite-space: nowrap;\n\t}\n\t.navy {\n\t\tcolor: #fff;\n\t\tbackground-color: navy;\n\t\tborder-color: #146;\n\t}\n\t.red {\n\t\tcolor: #fff;\n\t\tbackground-color: #d00;\n\t\tborder-color: #800;\n\t}\n\t.negative {\n\t\tcolor: #fff;\n\t\tbackground-color: #333;\n\t\tborder-color: #000;\n\t}\n\t.bar {height:4em; }\n\t\n\t\n@media screen and (max-width: 800px){\n\t.container {margin: 0}\n\t.col-1 {width: 100%;}\n\t.col-2 {width: 100%;}\n\t.col-3 {width: 100%;}\n\t.col-4 {width: 100%;}\t\n}\t\n\n.bar,ul.nav       {background:#444; color:white;}\n.bar a,ul.nav a   {background:#444; color:white;}\nul.nav>li         {background:#444; color:white;}\nul.nav>li>ul      {background:#444; color:white;}\nul.nav>li>ul>li>a {background:#444; color:white;}\nnav .bar      {border:none;}\n\n.nav {\n    padding-left: 0;\n    margin-bottom: 0;\n    list-style: none;\n}\n\nul.nav {\n\tdisplay: inline-block;\n\tfloat:left;\n    width:100%;\n}\n.nav>li {\n    position: relative;\n    display: block;\n\tfloat:left;\n\tmargin:0.2rem 1rem;\n}\nul.nav>li {\n    float: left;\n}\n\nul.nav>li>ul {\n    /*display: none;*/\n}\n\n\nli.dropdown ul{\n    position: absolute;\n    top: 120%;\n    left: 0;\n    z-index: 1000;\n    display: none;\n    float: left;\n    background-color: #eee;\n\tpadding:0.5em;\n\tbox-shadow: 0 6px 12px rgba(0,0,0,.175);\n\t/*\n    min-width: 160px;\n    padding: 5px 0;\n    margin: 2px 0 0;\n    font-size: 14px;\n    text-align: left;\n    list-style: none;\n    -webkit-background-clip: padding-box;\n    background-clip: padding-box;\n    border: 1px solid #ccc;\n    border: 1px solid rgba(0,0,0,.15);\n    border-radius: 4px;\n    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);\n    \n\t*/\n}\nli.dropdown:before { content:\"\\00bb\"; }\n\n.dropdown>ul>li>a {\n    display: block;\n    clear: both;\n    line-height: 1.75rem;\n    color: #014;\n    white-space: nowrap;\n}\n\nli.dropdown.open ul {display:block;}\n","x":390,"y":120,"wires":[["7f5903d9.02028c"]]},{"id":"e288c4c.e0f2838","type":"http response","z":"35b73508.3cf17a","name":"","x":670,"y":320,"wires":[]},{"id":"23446d01.0f8a82","type":"template","z":"35b73508.3cf17a","name":"star.css","field":"payload","fieldType":"msg","format":"css","syntax":"plain","template":"\n\n/*margin: auto;*/\n#info,#star-demo {float:left;}\n#star-demo {\n\tdisplay: block;\n\twidth:320px; \n\theight:320px; \n\tborder:1px solid gray;\n}\n.box {\n    background: radial-gradient(at 50% 50%, #797979 1%, #F5F4F4 50%, #888 90%);\n}\n\n","x":380,"y":180,"wires":[["7f5903d9.02028c"]]},{"id":"93af8f0a.9f03c","type":"file in","z":"35b73508.3cf17a","name":"","filename":"/home/pi/red/cdn/dragula.css","format":"utf8","x":400,"y":240,"wires":[["7f5903d9.02028c"]]},{"id":"1b41cb34.4e6ea5","type":"http in","z":"35b73508.3cf17a","name":"","url":"/cdn/column.css","method":"get","swaggerDoc":"","x":160,"y":120,"wires":[["6c6e4e46.4fc87"]]},{"id":"b2820456.f38cf8","type":"function","z":"35b73508.3cf17a","name":"js","func":"//msg.headers['Content-type'] = \"application/javascript\";\nmsg.headers = {\"Content-type\" : \"application/javascript\"};\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["e288c4c.e0f2838"]]},{"id":"a5df6ea.caac99","type":"http in","z":"35b73508.3cf17a","name":"","url":"/cdn/star.css","method":"get","swaggerDoc":"","x":150,"y":180,"wires":[["23446d01.0f8a82"]]},{"id":"80bd975e.0e6098","type":"http in","z":"35b73508.3cf17a","name":"","url":"/cdn/dragula.css","method":"get","swaggerDoc":"","x":160,"y":240,"wires":[["93af8f0a.9f03c"]]},{"id":"6931fa25.ac9fc4","type":"file in","z":"35b73508.3cf17a","name":"","filename":"/home/pi/red/cdn/interact.js","format":"utf8","x":420,"y":600,"wires":[["b2820456.f38cf8"]]},{"id":"56ac4b26.eff854","type":"template","z":"35b73508.3cf17a","name":"star.js","field":"payload","fieldType":"msg","format":"javascript","syntax":"plain","template":"\n\n//document.addEventListener('DOMContentLoaded', function () {\n//var starBox    = {x:500, y:500, x0:-50, y0:-50, x1:450, y1:450};\n//var screenBox  = {width:320, height:320};\n\nfunction sPoint(xy){\n\txy.x = (((xy.x/starBox.x)-starBox.mx)*200)-100;\n\txy.y = 100-(((xy.y/starBox.y)-starBox.my)*200);\n\txy.x = Math.round(xy.x);\n\txy.y = Math.round(xy.y);\n\treturn xy;\n}\n\nfunction getPoints(star){\n\tvar len = star.points.numberOfItems;\n\t//var len=2;\n\tvar info = document.getElementById('info');\n\tinfo.innerHTML = '';\n    for (var i = 0; i < len; i++) {\n        var handle = document.createElementNS(sns, 'use'),\n            point = star.points.getItem(i);\n\t\t\tvar p = sPoint({x:point.x, y:point.y});\n\t\tinfo.innerHTML += '<dd>'+(p.x)+', '+(p.y)+'</dd>';\n\t}\n}\n\n    var sns=\"http://www.w3.org/2000/svg\",\n        xns=\"http://www.w3.org/1999/xlink\",\n        root = document.getElementById('svg-edit-demo'),\n        star = document.getElementById('edit-star'),\n        rootMatrix,\n        originalPoints = [],\n        transformedPoints = [];\n\t\t//console.log(root);\t\t\n\t\t//console.log(star);\t\t\n\t\t\n//console.log(1);\t\t\ngetPoints(star);\n\n\n\n    for (var i = 0, len = star.points.numberOfItems; i < len; i++) {\n        var handle = document.createElementNS(sns, 'use'),\n            point = star.points.getItem(i),\n            newPoint = root.createSVGPoint();\n\t\t\n\n        handle.setAttributeNS(xns, 'href', '#point-handle');\n        handle.setAttribute('class', 'point-handle');\n\n        handle.x.baseVal.value = newPoint.x = point.x;\n        handle.y.baseVal.value = newPoint.y = point.y;\n\n        handle.setAttribute('data-index', i);\n\n        originalPoints.push(newPoint);\n\n        root.appendChild(handle);\n    }\n\n    function applyTransforms (event) {\n        rootMatrix = root.getScreenCTM();\n\n        transformedPoints = originalPoints.map(function(point) {\n\t\t\t//console.log(point);\n            return point.matrixTransform(rootMatrix);\n        });\n\n        interact('.point-handle').draggable({\n            snap: {\n                targets: transformedPoints,\n                range: 20 * Math.max(rootMatrix.a, rootMatrix.d)\n            }\n        });\n\n    }\n\n    interact(root)\n        .on('mousedown', applyTransforms)\n        .on('touchstart', applyTransforms);\n\n    interact('.point-handle')\n        .draggable({\n            onstart: function (event) {\n                root.setAttribute('class', 'dragging');\n            },\n            onmove: function (event) {\n                var i = event.target.getAttribute('data-index')|0,\n                    point = star.points.getItem(i);\n\n                point.x += event.dx / rootMatrix.a;\n                point.y += event.dy / rootMatrix.d;\n\n                event.target.x.baseVal.value = point.x;\n                event.target.y.baseVal.value = point.y;\n            },\n            onend: function (event) {\n                root.setAttribute('class', '');\n\t\t\t\tgetPoints(star);\n            },\n            snap: {\n                targets: originalPoints,\n                range: 10,\n                relativePoints: [ { x: 0.5, y: 0.5 } ]\n            },\n            restrict: { restriction: document.rootElement }\n        })\n        .styleCursor(false);\n\n\n    document.addEventListener('dragstart', function (event) {\n        event.preventDefault();\n    });\n//});\n","x":370,"y":520,"wires":[["b2820456.f38cf8"]]},{"id":"96c3ae5a.ffb4a","type":"file in","z":"35b73508.3cf17a","name":"","filename":"/home/pi/red/cdn/jquery.min.js","format":"utf8","x":430,"y":740,"wires":[["b2820456.f38cf8"]]},{"id":"96ca96b0.713048","type":"file in","z":"35b73508.3cf17a","name":"","filename":"/home/pi/red/cdn/jquery3.min.js","format":"utf8","x":430,"y":800,"wires":[["b2820456.f38cf8"]]},{"id":"557e20a9.84a7b","type":"file in","z":"35b73508.3cf17a","name":"","filename":"/home/pi/red/cdn/dragula.min.js","format":"utf8","x":430,"y":660,"wires":[["b2820456.f38cf8"]]},{"id":"ca7eca0d.6f4998","type":"template","z":"35b73508.3cf17a","name":"favicon.png","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACABAMAAAAxEHz4AAAAHlBMVEUAAAB/cD8kb5oAUMAPb68QPz8ZTEl6za8PQ0iQ4K/Jlu1iAAAACnRSTlMA5vqZzOb+9frMRv5g1wAAAH5JREFUaN7t17EJgDAQQFEdwRVcwQ0kK+gGOoHgCpa2buuRAytTiAdezP+kzSPXBK4igwYNAMAb0D0KAAAAwBqw/xPrJh2AQ2DWDmnPFRgnOXmPEGd4/4JVWsJV36YLEgAAAAAAAIBjYNPiNYByge/3BQAAAAAAAIDb/gdQYZ1EPKhhVp693AAAAABJRU5ErkJggg==","x":470,"y":920,"wires":[["b2820456.f38cf8"]]},{"id":"931034c6.1aa248","type":"template","z":"35b73508.3cf17a","name":"script.js","field":"payload","fieldType":"msg","format":"javascript","syntax":"plain","template":"'use strict';\n\nfunction $(id){return document.getElementById(id);}\nfunction $$(id){return document.querySelectorAll(id);}\n\nvar arrows = {'N':'&uarr;','NE':'&nearr;','E':'&rarr;','SE':'&searr;','S':'&darr;','SW':'&swarr;','W':'&larr;','NW':'&nwarr;'};\n\nfunction getGETtext(u,callback){\n    fetch(u).then(function(response){return response.text()})\n    .then(function(tx) {\n    \t//console.log('getGETtex=',tx);\n    \tcallback(tx);\n    }).catch(function(e){console.log(\"ERR:\",String(e.name),String(e.message));})\t\n}\n\nfunction getGETjson(u,callback){\n    fetch(u).then(function(response){return response.json()})\n    .then(function(json) {\n    \t//console.log('getGETtex=',json);\n    \tcallback(json);\n    }).catch(function(e){console.log(\"ERR:\",String(e.name),String(e.message));})\t\n}\n\nfunction sendPOSTjson(u,callback){\n    fetch(u, {\n\tmethod: 'POST', \n\tmode: 'cors', \n\tredirect: 'follow'\n    })\n    .then(function(response){return response.json()})\n    .then(function(json) {\n    \tconsole.log('getPOSTjson=',json);\n    \tcallback(json);\n    })\n    .catch(function(e){\n        //console.log(e);\n        console.log(\"ERR:\");\n        //console.log(typeof(e.name));\n        console.log(e.name);\n        //console.log(typeof(e.message));\n        //console.log((e.message));\n        //console.log(\"ERR:\",String(e.name),String(e.message));\n        }\n    );\n}\n\n\n\n\n\n\nfunction addEnd(el,content){\n    el.insertAdjacentHTML('beforeend', content);\n    //beforebegin afterbegin beforeend afterend\n}\n\nObject.prototype.clear = function(){console.log(this);this.innerHTML ='';}\n\n\n","x":400,"y":420,"wires":[["b2820456.f38cf8"]]},{"id":"76562e6a.c1675","type":"http in","z":"35b73508.3cf17a","name":"","url":"/cdn/interact.js","method":"get","swaggerDoc":"","x":150,"y":580,"wires":[["6931fa25.ac9fc4"]]},{"id":"41705978.31bd58","type":"http in","z":"35b73508.3cf17a","name":"","url":"/cdn/star.js","method":"get","swaggerDoc":"","x":140,"y":520,"wires":[["56ac4b26.eff854"]]},{"id":"76e3bfa4.1aeff","type":"http in","z":"35b73508.3cf17a","name":"","url":"/cdn/jquery.min.js","method":"get","swaggerDoc":"","x":160,"y":720,"wires":[["96c3ae5a.ffb4a"]]},{"id":"4589a024.55785","type":"http in","z":"35b73508.3cf17a","name":"","url":"/cdn/jquery3.min.js","method":"get","swaggerDoc":"","x":160,"y":780,"wires":[["96ca96b0.713048"]]},{"id":"c0e85c20.ffbf1","type":"http in","z":"35b73508.3cf17a","name":"","url":"/cdn/dragula.min.js","method":"get","swaggerDoc":"","x":170,"y":640,"wires":[["557e20a9.84a7b"]]},{"id":"f34b8309.745b5","type":"http in","z":"35b73508.3cf17a","name":"","url":"/cdn/favicon.png","method":"get","swaggerDoc":"","x":180,"y":920,"wires":[["ca7eca0d.6f4998"]]},{"id":"8179cb98.179c38","type":"http in","z":"35b73508.3cf17a","name":"","url":"/cdn/script.js","method":"get","swaggerDoc":"","x":150,"y":420,"wires":[["931034c6.1aa248"]]}]
