flows/dobre-wasy.json
[{"id":"b357dede.82963","type":"tab","label":"Dobry {{}}","disabled":false,"info":""},{"id":"9884fa6.04ee408","type":"inject","z":"b357dede.82963","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["2eabcac5.6587f6"]]},{"id":"2eabcac5.6587f6","type":"function","z":"b357dede.82963","name":"","func":"msg.payload = {\n    \"opis\":\"szach mat\",\n    \"dev\":[ {\"name\":\"ard1\", \"pos\":\"Hall\"},{\"name\":\"ard2\", \"pos\":\"Landing\"} ]\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":340,"wires":[["ccf0edaa.74d17","18fb6a59.c196b6"]]},{"id":"ccf0edaa.74d17","type":"debug","z":"b357dede.82963","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":360,"wires":[]},{"id":"7e21da74.477154","type":"http in","z":"b357dede.82963","name":"","url":"/b","method":"get","upload":false,"swaggerDoc":"","x":110,"y":440,"wires":[["2eabcac5.6587f6"]]},{"id":"6f5d9187.772b2","type":"http response","z":"b357dede.82963","name":"","statusCode":"","headers":{},"x":560,"y":460,"wires":[]},{"id":"18fb6a59.c196b6","type":"template","z":"b357dede.82963","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h3>{{payload.opis}}</h3>\n<ul>\n{{#payload.dev}}\n  <li>Device: {{name}}, Location: {{pos}}</li>\n{{/payload.dev}}\n</ul>","output":"str","x":400,"y":460,"wires":[["6f5d9187.772b2","8ad4d50.9645b28"]]},{"id":"8ad4d50.9645b28","type":"debug","z":"b357dede.82963","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":560,"wires":[]}]
