flows/plan-215.json
[{"id":"b77c60fd.f043c","type":"tab","label":"Plan-215","disabled":false,"info":""},{"id":"70073ade.fcde04","type":"http in","z":"b77c60fd.f043c","name":"/plan/:wydzial/:budynek/:sala","url":"/plan/:wydzial/:budynek/:sala","method":"get","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["caf7f4c8.318a78"]]},{"id":"4c48e7e5.cdc498","type":"http request","z":"b77c60fd.f043c","name":"Plan sal","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":160,"wires":[["6b060944.679ad8"]]},{"id":"5a02874.da36c78","type":"http response","z":"b77c60fd.f043c","name":"/plan","statusCode":"","headers":{},"x":650,"y":220,"wires":[]},{"id":"6b060944.679ad8","type":"function","z":"b77c60fd.f043c","name":"Transform","func":"function upCase(tx){return tx.charAt(0).toUpperCase() + tx.slice(1);}\n\nfunction dayofweek(date) {\n    var weekdays = [\"Niedziela\", \"Poniedziałek\", \"Wtorek\", \"Środa\", \"Czwartek\", \"Piątek\", \"Sobota\"];\n    var d = new Date();    \n\tif (date) {\n\t\tvar arr = date.split('-');\n\t\tarr.reverse();\n\t\tdate = arr.join(\"-\");\n\t\td.setTime(Date.parse(date)) ;\n\t}\n    var dw = d.getDay();\n    return weekdays[dw];\n}\n\nfunction parseMessage(m){\n    var room = m.match(/room\\=(.*?),/);\n    var date = m.match(/dateFrom\\=(.*?),/);\n    //node.warn(room[1]+' '+date[1]);\n    return room[1]+', '+date[1];\n}\n\nif (msg.payload.code == \"404\"){\n    msg.status  = msg.payload.error;\n    msg.message = parseMessage(msg.payload.message);\n    return msg;\n}\n\n\nvar payload = msg.payload;\n\nmsg.payload = payload[0].lessons;\n\nmsg.info = {}\nmsg.info.date = payload[0].date;\nmsg.info.dw = dayofweek(msg.info.date);\n//room: \"WI WI1- 215\"\nmsg.info.room                = payload[0].lessons[0].room.replace(\"WI \",\"\").replace(\" \",\"\");\nmsg.info.faculty             = payload[0].lessons[0].faculty;\nmsg.info.facultyAbbreviation = payload[0].lessons[0].facultyAbbreviation;\nmsg.info.fieldOfStudy = upCase(payload[0].lessons[0].fieldOfStudy);\n\nmsg.payload.forEach(function(p,i){\n    msg.payload[i].group                = msg.payload[i].group.replace(/_/g,\"-\");\n    msg.payload[i].courseType    = upCase(msg.payload[i].courseType);\n    msg.payload[i].fieldOfStudy  = upCase(msg.payload[i].fieldOfStudy);\n    \n})\n\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["d50316d.24e90e8"]]},{"id":"d50316d.24e90e8","type":"template","z":"b77c60fd.f043c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"theme-color\" content=\"#33b5e5\">\n    <!--link rel=\"manifest\" href=\"/manifest.json\"-->\n\t<meta name=\"mobile-web-app-capable\" content=\"yes\"> \n\t<link rel=\"icon\" type=\"image/png\" size=\"512x512\" href=\"http://cdn.wi.zut.edu.pl/img/admin-512.png\">\t\n  <title>WI Plan sal</title>\n    \n    <!-- Font Awesome \n    <link href=\"/cdn/css/a.css\" rel=\"stylesheet\">\n    <link href=\"/cdn/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <link href=\"/cdn/css/mdb.css\" rel=\"stylesheet\">\n    -->\n    \n    <link href=\"/cdn/font.css\" rel=\"stylesheet\">\n    <link href=\"/cdn/cdn.min.css\" rel=\"stylesheet\">\n    <link href=\"/cdn/button.css\" rel=\"stylesheet\">\n    \n    <link href=\"/cdn/plus.css\" rel=\"stylesheet\">\n    \n    \n<style>\n/*\n@font-face {\n  font-family: 'Roboto';\n  src: url('http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Light.woff2') format('woff2')\n}\n*/    \n\n/*body {font-family:Roboto}*/\n</style>\n\n</head>\n   \n<body>\n\n<div class=\"container\">\n    <div class=\"row\">\n        <div class=\"col-sm\">\n\n{{#info}}\n<h2>{{info.faculty}}, {{info.facultyAbbreviation}}</h2>\n<h3>{{info.room}}, {{info.date}}, {{info.dw}}</h3>\n{{/info}}\n\n{{#info}}\n<table class=\"table table-sm table-striped\">\n    <thead class=\"mdb-color darken-3\">\n        <tr class=\"text-white\"><th>Godz.</th><th>Zajęcia</th><th>Grupa</th></tr>\n    </thead>\n<tbody>\n{{#payload}}\n <tr class=\"{{status}}\">\n    <td>{{timeRange.from}} - {{timeRange.to}} <br />{{fieldOfStudy}}</td>\n    <td>\n        {{courseType}}: <b>{{subject}}</b><br />\n        <b><i>{{teacher.academicTitle}} {{teacher.name}} {{teacher.surname}}</i></b>\n    </td>\n    <td>{{group}}<br />Semestr: {{semester}}</td>\n  </tr>\n{{/payload}}\n</tbody>\n</table>\n{{/info}}\n\n{{^info}}\n    <h3>Brak danych!</h3>\n    <p>{{status}}</p>\n    <p>{{message}}</p>\n{{/info}}\n\n        </div>\n    </div>\n</div>\n\n\n<div class=\"container\">\n    <div class=\"row\">\n        <div class=\"col-sm\">\n            <a class=\"btn btn-primary btn-sm\" href=\"http://cdn.wi.zut.edu.pl:1880/plan/wi/wi1/011\">WI1 011</a>\n            <a class=\"btn btn-secondary btn-sm\" href=\"http://cdn.wi.zut.edu.pl:1880/plan/wi/wi1/013\">WI1 013</a>\n            <a class=\"btn btn-info btn-sm\" href=\"http://cdn.wi.zut.edu.pl:1880/plan/wi/wi1/128\">WI1 128</a>\n            <a class=\"btn btn-warning btn-sm\" href=\"http://cdn.wi.zut.edu.pl:1880/plan/wi/wi1/303\">WI1 303</a>\n            <a class=\"btn btn-default btn-sm\" href=\"http://cdn.wi.zut.edu.pl:1880/plan/wi/wi1/215\">WI1 215</a>\n            <a class=\"btn  btn-sm\" href=\"http://cdn.wi.zut.edu.pl:1880/plan/wi/wi1/215\">WI1 215</a>\n        </div>\n        <div class=\"col-sm\">\n            <a class=\"btn btn-success btn-sm\" href=\"http://cdn.wi.zut.edu.pl:1880/plan/wi/wi2/17\">WI2 017</a>\n            <a class=\"btn btn-success btn-sm\" href=\"http://cdn.wi.zut.edu.pl:1880/plan/wi/wi2/119\">WI2 119</a>\n            <a class=\"btn btn-success btn-sm\" href=\"http://cdn.wi.zut.edu.pl:1880/plan/wi/wi2/120\">WI2 120</a>\n            <a class=\"btn btn-success btn-sm\" href=\"http://cdn.wi.zut.edu.pl:1880/plan/wi/wi2/318\">WI2 318</a>\n            \n\n    \n        </div>\n    </div>\n</div>\n\n<img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==\" alt=\"Red dot\" />\n\n</body> \n</html>\n<!--\nroom: \"WI WI1- 215\"\ncourseType: \"wykład\"\nsubject: \"Modelowanie i symulacja systemów\"\nsemester: \"5\"\nfaculty: \"Wydział Informatyki\"\nfacultyAbbreviation: \"WI\"\nfieldOfStudy: \"informatyka\"\nreservationStatus: \"wykład\"\nreservationStatusAbbreviation: \"W\"\nstatus: \"Zaj\"\ngroup: \"S1_I_3 rok_W\"\nteacher: object\nacademicTitle: \"dr inż.\"\nname: \"Piotr\"\nsurname: \"Piela\"\ntimeRange: object\nfrom: \"10:15\"\nto: \"12:00\"\n-->\n\n","output":"str","x":540,"y":160,"wires":[["5a02874.da36c78"]]},{"id":"caf7f4c8.318a78","type":"function","z":"b77c60fd.f043c","name":"today","func":"function pads(s) { return (\"00\"+s.toString()).slice(-3); }\nfunction today(delta) {\n\tfunction pad(s) { return (\"0\"+s.toString()).slice(-2); }\n\tvar d = new Date();\n\tif (delta) d = new Date(d.getTime()+(delta * 3600*1000*24));\n\tvar rok     = d.getFullYear().toString();\n\tvar miesiac = pad(d.getMonth()+1);\n\tvar dzien   = pad(d.getDate());\n\treturn dzien+'-'+miesiac+'-'+rok;\n}\n\nvar date = today();\n//date = today(1);\n//date = today(-1);\n\n\nvar wydzial = msg.req.params.wydzial.toUpperCase();\nvar budynek = msg.req.params.budynek.toUpperCase();\nvar sala    = msg.req.params.sala.toUpperCase();\nvar room    = wydzial+' '+budynek+'- '+(sala);\nroom = encodeURIComponent(room);\n\nvar planU = 'http://plan.zut.edu.pl/api/schedule/?facultyAbbreviation='+wydzial+'&room='+room+'&dateFrom='+date+'&dateTo='+date;\n//node.warn(planU);\n//var planURL = 'http://plan.zut.edu.pl/api/schedule/?facultyAbbreviation=WI&room=WI%20WI1-%20215&dateFrom=04-11-2019&dateTo=04-11-2019';\n//var planURL = 'http://plan.zut.edu.pl/api/schedule/?facultyAbbreviation=WI&room=WI%20WI1-%20215&dateFrom='+date+'&dateTo='+date;\n//node.warn(planU+\"\\n\"+planURL);\n\nmsg.url = planU;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":220,"wires":[["4c48e7e5.cdc498"]]},{"id":"b2a7bc40.b229c","type":"http in","z":"b77c60fd.f043c","name":"","url":"/cdn/plus.css","method":"get","upload":false,"swaggerDoc":"","x":110,"y":400,"wires":[["adec7e2b.091cc"]]},{"id":"adec7e2b.091cc","type":"template","z":"b77c60fd.f043c","name":"plus.css","field":"payload","fieldType":"msg","format":"css","syntax":"plain","template":"\n\n/*.Zaj {box-shadow: inset 0px 0px 1px 1px grey;}*/","x":330,"y":400,"wires":[["ab18f7fa.e901d8"]]},{"id":"cfcee2e.3c97b2","type":"http response","z":"b77c60fd.f043c","name":"","x":670,"y":540,"wires":[]},{"id":"ab18f7fa.e901d8","type":"function","z":"b77c60fd.f043c","name":"css","func":"msg.headers = {\"Content-type\" : \"text/css\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":540,"wires":[["cfcee2e.3c97b2"]]},{"id":"a02c4f18.d7ee","type":"template","z":"b77c60fd.f043c","name":"cdn.min.css","field":"payload","fieldType":"msg","format":"css","syntax":"plain","template":"*, ::after, ::before {box-sizing: border-box;}\nbody {\n    margin: 0;\n    font-family: Roboto,\"Segoe UI\",\"Helvetica Neue\",Arial,\"Noto Sans\",sans-serif,\"Apple Color Emoji\",\"Segoe UI Emoji\",\"Segoe UI Symbol\",\"Noto Color Emoji\";\n    font-size: 1rem;\n    font-weight: 300;\n    line-height: 1.5;\n    color: #212529;\n    text-align: left;\n    background-color: #fff;\n}\n\n.container {\n    width: 100%;\n    padding-right: 15px;\n    padding-left: 15px;\n    margin-right: auto;\n    margin-left: auto;\n}\n\n.row {\n    display: -ms-flexbox;\n    display: flex;\n    -ms-flex-wrap: wrap;\n    flex-wrap: wrap;\n    margin-right: -15px;\n    margin-left: -15px;\n}\n\n.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {\n    position: relative;\n    width: 100%;\n    padding-right: 15px;\n    padding-left: 15px;\n}\n\n\n.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {\n    margin-bottom: .5rem;\n    font-weight: 300;\n    line-height: 1.2;\n}\nh1, h2, h3, h4, h5, h6 {\n    margin-top: 0;\n    margin-bottom: .5rem;\n}\n.h1, h1 {font-size: 2.5rem;}\n.h2, h2 {font-size: 2rem;}\n.h3, h3 {font-size: 1.75rem;}\n\nb, strong {font-weight: bolder;}\na {\n    color: #007bff;\n    text-decoration: none;\n    cursor: pointer;\n    transition: all 0.2s ease-in-out;\n}\n\ntable {border-collapse: collapse;}\n\n.table {width: 100%; margin-bottom: 1rem; color: #212529;}\n\n\n.mdb-color.darken-3 {background-color: #1c2a48!important;}\n\n.mdb-color {background-color: #45526e!important;}\n.text-white {color: #fff!important;}\n\ntable.table thead th {border-top: none;}\ntable.table-sm td, table.table-sm th {padding-top: .6rem;padding-bottom: .6rem;}\ntable.table td, table.table th {padding-top: 1.1rem;padding-bottom: 1rem;}\n.table thead th {vertical-align: bottom;border-bottom: 2px solid #dee2e6;}\n.table-sm td, .table-sm th {padding: .3rem;}\n.table td, .table th {\n    padding: .75rem;\n    vertical-align: top;\n    border-top: 1px solid #dee2e6;\n}\ntable th {font-size: .9rem;font-weight: 400;}\nth {text-align: inherit;}\n\n.table-striped tbody tr:nth-of-type(odd) {\n    background-color: rgba(0,0,0,.05);\n}\n\n\ntable.table-sm td, table.table-sm th {\n    padding-top: .6rem;\n    padding-bottom: .6rem;\n}\ntable.table td, table.table th {\n    padding-top: 1.1rem;\n    padding-bottom: 1rem;\n}\ntable.table-sm td, table.table-sm th {\n    padding-top: .6rem;\n    padding-bottom: .6rem;\n}\n.table-sm td, .table-sm th {\n    padding: .3rem;\n}\n.table td, .table th {\n    padding: .75rem;\n    vertical-align: top;\n    border-top: 1px solid #dee2e6;\n}\ntable td {\n    font-size: .9rem;\n    font-weight: 300;\n}\n\n/*\n@media (min-width: 576px){\n    .container {\n        max-width: 540px;\n    }\n    .col-sm {\n        -ms-flex-preferred-size: 0;\n        flex-basis: 0;\n        -ms-flex-positive: 1;\n        flex-grow: 1;\n        max-width: 100%;\n    }\n}\n*/\n\n@media (min-width: 576px){\n    .container {max-width: 540px;}\n    .col-sm {\n        -ms-flex-preferred-size: 0;\n        flex-basis: 0;\n        -ms-flex-positive: 1;\n        flex-grow: 1;\n        max-width: 100%;\n    }    \n}\n\n@media (min-width: 768px){\n    .container {max-width: 720px;}\n}\n\n","x":310,"y":600,"wires":[["ab18f7fa.e901d8"]]},{"id":"67b6a0d9.9c847","type":"http in","z":"b77c60fd.f043c","name":"","url":"/cdn/cdn.min.css","method":"get","upload":false,"swaggerDoc":"","x":120,"y":600,"wires":[["a02c4f18.d7ee"]]},{"id":"3d35774c.2c5c48","type":"comment","z":"b77c60fd.f043c","name":"Tylko potrzebne ???","info":"Tu powtykam tylko potrzebne class'y","x":110,"y":480,"wires":[]},{"id":"fb9201dd.989b1","type":"comment","z":"b77c60fd.f043c","name":"Swoje css'y","info":"","x":90,"y":360,"wires":[]},{"id":"d854190e.b654e8","type":"template","z":"b77c60fd.f043c","name":"font","field":"payload","fieldType":"msg","format":"css","syntax":"plain","template":"@font-face {\n  font-family: Roboto;\n  font-weight: 200;\n  src: local(Roboto Thin), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Thin.eot\");\n  src: url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Thin.eot?#iefix\") format(\"embedded-opentype\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Thin.woff2\") format(\"woff2\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Thin.woff\") format(\"woff\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Thin.ttf\") format(\"truetype\"); }\n\n@font-face {\n  font-family: Roboto;\n  font-weight: 300;\n  src: local(Roboto Light), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Light.eot\");\n  src: url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Light.eot?#iefix\") format(\"embedded-opentype\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Light.woff2\") format(\"woff2\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Light.woff\") format(\"woff\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Light.ttf\") format(\"truetype\"); }\n\n@font-face {\n  font-family: Roboto;\n  font-weight: 400;\n  src: local(Roboto Regular), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Regular.eot\");\n  src: url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Regular.eot?#iefix\") format(\"embedded-opentype\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Regular.woff2\") format(\"woff2\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Regular.woff\") format(\"woff\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Regular.ttf\") format(\"truetype\"); }\n\n@font-face {\n  font-family: Roboto;\n  font-weight: 500;\n  src: url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Medium.eot\");\n  src: url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Medium.eot?#iefix\") format(\"embedded-opentype\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Medium.woff2\") format(\"woff2\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Medium.woff\") format(\"woff\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Medium.ttf\") format(\"truetype\"); }\n\n@font-face {\n  font-family: Roboto;\n  font-weight: 700;\n  src: url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Bold.eot\");\n  src: url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Bold.eot?#iefix\") format(\"embedded-opentype\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Bold.woff2\") format(\"woff2\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Bold.woff\") format(\"woff\"), url(\"http://cdn.wi.zut.edu.pl/font/roboto/Roboto-Bold.ttf\") format(\"truetype\"); }\n  \n","output":"str","x":310,"y":660,"wires":[["ab18f7fa.e901d8"]]},{"id":"d5729cb6.b1927","type":"http in","z":"b77c60fd.f043c","name":"","url":"/cdn/font.css","method":"get","upload":false,"swaggerDoc":"","x":100,"y":660,"wires":[["d854190e.b654e8"]]},{"id":"92eb8f4c.74914","type":"http in","z":"b77c60fd.f043c","name":"","url":"/cdn/button.css","method":"get","upload":false,"swaggerDoc":"","x":110,"y":540,"wires":[["15af7514.b2f35b"]]},{"id":"15af7514.b2f35b","type":"template","z":"b77c60fd.f043c","name":"button.css","field":"payload","fieldType":"msg","format":"css","syntax":"plain","template":".btn {\n    display: inline-block;\n    color: #212529;\n    text-align: center;\n    vertical-align: middle;\n    -webkit-user-select: none;\n    -moz-user-select: none;\n    -ms-user-select: none;\n    user-select: none;\n    background-color: transparent;\n    border-radius: .25rem;\n    line-height: 1.5;\n    font-size: 1rem;\n    padding: .375rem .75rem;\n    /*border: 1px solid transparent;\n    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;\n    */\n  margin: 0.375rem;\n  text-transform: uppercase;\n  word-wrap: break-word;\n  white-space: normal;\n  cursor: pointer;\n  border: 0;\n  border-radius: 0.125rem;\n  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);\n  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;\n  /*padding: 0.84rem 2.14rem;*/\n  /*font-size: 0.81rem; */\n}\n\n\n.btn:hover, .btn:focus, .btn:active {\n    outline: 0;\n    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); \n}\n\n.btn-default {\n    color: #fff;\n    background-color: #2bbbad!important;\n}    \n .btn-warning {\n    color: #fff;\n    background-color: #fb3!important;\n}\n.btn-primary {\n    color: #fff;\n    background-color: #4285f4!important;\n}\n.btn-secondary {\n    color: #fff;\n    background-color: #a6c!important;\n}\n.btn-danger {\n    color: #fff;\n    background-color: #ff3547!important;\n}\n.btn-success {\n  color: #fff;\n  background-color: #00c851 !important; \n}\n.btn-info {\n  color: #fff;\n  background-color: #33b5e5 !important; \n}\n/*\n  .btn-info:hover {\n    color: #fff;\n    background-color: #4abde8; }\n  .btn-info:focus, .btn-info.focus {\n    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }\n  .btn-info:focus, .btn-info:active, .btn-info.active {\n    background-color: #14799e; }\n  .btn-info.dropdown-toggle {\n    background-color: #33b5e5 !important; }\n    .btn-info.dropdown-toggle:hover, .btn-info.dropdown-toggle:focus {\n      background-color: #4abde8 !important; }\n  .btn-info:not([disabled]):not(.disabled):active, .btn-info:not([disabled]):not(.disabled).active,\n  .show > .btn-info.dropdown-toggle {\n    background-color: #14799e !important;\n    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }\n  .btn-info:not([disabled]):not(.disabled):active:focus, .btn-info:not([disabled]):not(.disabled).active:focus,\n  .show > .btn-info.dropdown-toggle:focus {\n    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }\n*/    \n    \n    \n    \n    \n\n/*\n  .btn-success:hover {\n    color: #fff;\n    background-color: #00e25b; }\n  .btn-success:focus, .btn-success.focus {\n    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }\n  .btn-success:focus, .btn-success:active, .btn-success.active {\n    background-color: #006228; }\n  .btn-success.dropdown-toggle {\n    background-color: #00c851 !important; }\n    .btn-success.dropdown-toggle:hover, .btn-success.dropdown-toggle:focus {\n      background-color: #00e25b !important; }\n  .btn-success:not([disabled]):not(.disabled):active, .btn-success:not([disabled]):not(.disabled).active,\n  .show > .btn-success.dropdown-toggle {\n    background-color: #006228 !important;\n    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }\n  .btn-success:not([disabled]):not(.disabled):active:focus, .btn-success:not([disabled]):not(.disabled).active:focus,\n  .show > .btn-success.dropdown-toggle:focus {\n    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }\n*/   \n   \n","x":330,"y":540,"wires":[["ab18f7fa.e901d8"]]}]
