flows/pogoda.json
[{"id":"3abae0d3.78cf5","type":"tab","label":"Pogoda","disabled":false,"info":""},{"id":"801b6478.54c778","type":"debug","z":"3abae0d3.78cf5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":220,"wires":[]},{"id":"3c0570d0.05b17","type":"xml","z":"3abae0d3.78cf5","name":"","property":"payload","attr":"","chr":"","x":400,"y":140,"wires":[["801b6478.54c778","788edb54.06ff44"]]},{"id":"f920208a.83b44","type":"inject","z":"3abae0d3.78cf5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["24d5fdc4.bcc852"]]},{"id":"24d5fdc4.bcc852","type":"http request","z":"3abae0d3.78cf5","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.yr.no/place/Poland/West_Pomerania/Szczecin/forecast.xml","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":180,"wires":[["3c0570d0.05b17"]]},{"id":"788edb54.06ff44","type":"template","z":"3abae0d3.78cf5","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<p>SunRise: {{payload.weatherdata.sun.0.$.rise}} </p>\n<p>SunSet: {{payload.weatherdata.sun.0.$.set}} </p>\n<p>Temp: {{payload.weatherdata.forecast.0.tabular.0.time.0.temperature.0.$.value}} &deg;C </p>\n<p>Deszcz: {{payload.weatherdata.forecast.0.tabular.0.time.0.precipitation.0.$.value}} mm </p>\n<p>Wiatr: {{payload.weatherdata.forecast.0.tabular.0.time.0.windSpeed.0.$.name}}</p>\n<p>Wiatr: {{payload.weatherdata.forecast.0.tabular.0.time.0.windSpeed.0.$.mps}}m/s</p>\n<p>Press: {{payload.weatherdata.forecast.0.tabular.0.time.0.pressure.0.$.value}}hPa</p>\n","output":"str","x":260,"y":280,"wires":[["17b2e91e.918d97","7db99e5d.53016"]]},{"id":"a0dc33c4.311fd","type":"http in","z":"3abae0d3.78cf5","name":"","url":"/yrno","method":"get","upload":false,"swaggerDoc":"","x":70,"y":200,"wires":[["24d5fdc4.bcc852"]]},{"id":"17b2e91e.918d97","type":"http response","z":"3abae0d3.78cf5","name":"","statusCode":"","headers":{},"x":550,"y":280,"wires":[]},{"id":"7db99e5d.53016","type":"debug","z":"3abae0d3.78cf5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":360,"wires":[]}]
